body{
    margin: 0px;
    padding: 0px;
    height: 100vw;
    overflow: hidden;
}

.bg{
    position: relative;
    top: 0vw;
    background-image: url(assets/bg.jpeg);
    height: 200vw;
    background-repeat: repeat;
    z-index: 0;
}

.alien{
    background-image: url(assets/alien.png);
    background-size: contain;
}

.space{
    position: absolute;
    width: 49px;
    height: 30px;
    z-index: 1;
}

#inv{}

.animatedBG{
    animation-name: flowBG;
    animation-duration: 40s;
    animation-iteration-count: infinite;
}

button{
    position: fixed;
    top: 50%;
    left: 36vw;
    font-size: 100px;
    color: white;
    z-index: 1;
    background: none;
}

@keyframes flowBG{
    0%  {
        top: 0vw;
    }
    50% {
        top: -50vw;
    }
    100% {
        top: 0vw;
    }
}

*{
    font-family: Avenir, sans-serif;
    font-size: 1em;
    text-align: center;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  .conteneur-grid{
    position: absolute;
    top: 0px;
    display: grid;
    grid-template-columns: minmax(100px, 1fr) 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(60px, auto);
    border: 2px solid red;
    align-items: center;
  }
  .conteneur-grid > div{
    padding: 0px 0px;
    border: 1px dashed black;
  }
  .conteneur-grid .debut{
    background-color: blue;
  }
  .conteneur-grid .end{
    background-color: red;
  }

  img{
    height: auto;
    width: 50px;
  }