body {
    margin: 0px;
    padding: 0px;
    height: 100vw;
    overflow: hidden;
}

.bg {
    position: relative;
    top: 0vw;
    background-image: url(assets/bg.jpeg);
    height: 200vw;
    background-repeat: repeat;
    z-index: -1;
}

.grid {
    background-color: blue;
    display: flex;
    position: fixed;
    top: 0vw;
    left: -10%;
    z-index: 1;
}

.alien {
    background-image: url(assets/alien.png);
    background-size: contain;
    position: absolute;
    width: 49px;
    height: 30px;
    z-index: 2;
}

.explosion {
    background-image: url(assets/explosion.png);
    background-size: contain;
    position: absolute;
    width: 49px;
    height: 30px;
    z-index: 2;
}

.timer {
    position: fixed;
    display: flex;
    top: 15vw;
    left: 45vw;
    font-size: 200px;
    color: white;
    z-index: 1;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.ship {
    background-image: url(assets/ship.png);
    width: 70px;
    height: 45px;
    position: fixed;
    background-size: contain;
    top: 47vw;
    left: 45vw;
    z-index: 1;
}

.bullet {
    background-image: url(assets/laser.png);
    width: 20px;
    height: 40px;
    position: fixed;
    background-size: contain;
    z-index: 3;
}

.space {
    position: absolute;
    width: 49px;
    height: 30px;
    z-index: 1;
}

.animatedBG {
    animation-name: flowBG;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

button {
    position: fixed;
    top: 50%;
    left: 36vw;
    font-size: 100px;
    color: white;
    z-index: 1;
    background: none;
}

@keyframes flowBG {
    0% {
        top: 0vw;
    }

    50% {
        top: -50vw;
    }

    100% {
        top: 0vw;
    }
}

* {
    font-family: Avenir, sans-serif;
    font-size: 1em;
    text-align: center;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.conteneur-grid {
    position: absolute;
    top: 0px;
    display: grid;
    grid-template-columns: minmax(100px, 1fr) 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(60px, auto);
    border: 2px solid red;
    align-items: center;
}

.conteneur-grid>div {
    padding: 0px 0px;
    border: 1px dashed black;
}

.conteneur-grid .debut {
    background-color: blue;
}

.conteneur-grid .end {
    background-color: red;
}

img {
    height: auto;
    width: 50px;
}

.oScreen {
    background-image: url(assets/game_over.png);
    width: 500px;
    height: 500px;
    position: fixed;
    background-size: contain;
    z-index: 4;
    left: 35vw;
    top: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}