body{
    margin: 0px;
    padding: 0px;
    height: 100vw;
    overflow: hidden;
}

.bg{
    position: relative;
    top: 0vw;
    background-image: url(assets/bg.jpeg);
    height: 200vw;
    background-repeat: repeat;
    z-index: 0;
}

.animatedBG{
    animation-name: flowBG;
    animation-duration: 40s;
    animation-iteration-count: infinite;
}

button{
    position: fixed;
    top: 50%;
    left: 36vw;
    font-size: 100px;
    color: white;
    z-index: 1;
    background: none;
}

@keyframes flowBG{
    0%  {
        top: 0vw;
    }
    50% {
        top: -50vw;
    }
    100% {
        top: 0vw;
    }
}